<form onsubmit="submitForm(event)" name="inputKey" method="get">
    <div class="container">
        <div class="row">
            <label for="inputUrl" class="form-label">URL</label>
            <div class="col-8">
                <input type="text" id="inputUrl" class="form-control" aria-describedby="passwordHelpBlock" name="url"
                       placeholder="Input url for scanning">
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-success" id="submitButton">Success</button>
            </div>
        </div>
    </div>
</form>

<p>

</p>
<div class="progress">
    <div id="progress-bar" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60"
         aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
</div>

<script>
    function submitForm(event) {
        event.preventDefault();

        const submitButton = document.getElementById('submitButton');
        submitButton.disabled = true;

        const inputUrlElement = document.getElementById('inputUrl');
        const urlValue = inputUrlElement.value;
        const evenSourceUrl = 'scan?url=' + encodeURIComponent(urlValue);

        const eventSource = new EventSource(evenSourceUrl);

        eventSource.addEventListener('progress', function (event) {
            const data = JSON.parse(event.data);

            console.log('Received progress event:', data);

            if (data.progressPercentage != "0") {
                progressBar(data);
                console.log('Updating progress bar...');
            }

            if (data.completed == true) {
                closeEventStream();
                console.log('Scan completed.');
            }
        });

        eventSource.addEventListener('results', function (event) {
            const data = JSON.parse(event.data);
            // console.log('New data: ', data)
            table(data)
        });

        eventSource.onmessage = (event) => {
            const data = JSON.parse(event.data);
            console.log('Received message:', data);
        };

        eventSource.onerror = (error) => {
            console.error('SSE error:', error);
        };

        // Either this or the one above
        eventSource.addEventListener('error', (error) => {
            console.error('SSE error:', error);
        });

        eventSource.onopen = () => {
            console.log('SSE connection opened');
        };

        eventSource.onclose = () => {
            console.log('SSE connection closed');
        };

        function closeEventStream() {
            console.log('Closing event stream...');
            submitButton.disabled = false;
            eventSource.close();
        }

        function progressBar(data) {
            // Get the progress bar element
            const progressBar = document.getElementById('progress-bar');
            progressBar.style.width = `${data.progressPercentage}%`;

            console.log('Updating progress bar:', data.progressPercentage);
        }

        function table(data) {
            const tbody = document.getElementById('tbody');
            const newRow = document.createElement('tr');

            newRow.innerHTML = `
        <th scope="row">${tbody.childElementCount + 1}</th>
        <td>${data.processed}</td>
        <td>${data.statusReason}</td>
        <td>${data.method}</td>
        <td>${data.reasonNotProcessed}</td>
        <td>${data.messageId}</td>
        <td>${data.url}</td>
        <td>${data.statusCode}</td>
    `;

            tbody.appendChild(newRow);
        }
    }
</script>

<p></p>
<table class="table" id="t_table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Processed</th>
        <th scope="col">Status Reason</th>
        <th scope="col">Method</th>
        <th scope="col">Reason Not Processed</th>
        <th scope="col">Message Id</th>
        <th scope="col">Url</th>
        <th scope="col">Status Code</th>
    </tr>
    </thead>
    <tbody id="tbody">

    </tbody>
</table>