<form onsubmit="submitForm(event)" name="inputKey" method="get">
    <div class="container">
        <label for="inputUrl" class="form-label">URL</label>
        <input type="text" id="inputUrl" class="form-control" aria-describedby="passwordHelpBlock" name="url"
               placeholder="Input url for scanning">
        <p></p>
        <button type="submit" class="btn btn-success" id="submitButton">Success</button>
    </div>
</form>

<p>

</p>
<div class="progress">
    <div id="progress-bar" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60"
         aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
</div>

<script>
    function submitForm(event) {
        event.preventDefault();

        const submitButton = document.getElementById('submitButton');
        submitButton.disabled = true;

        const inputUrlElement = document.getElementById('inputUrl');
        const urlValue = inputUrlElement.value;
        const evenSourceUrl = 'scan?url=' + encodeURIComponent(urlValue);

        const eventSource = new EventSource(evenSourceUrl);

        eventSource.addEventListener('progress', function (event) {
            const data = JSON.parse(event.data);

            console.log('Received progress event:', data);

            if (data.progressPercentage != "0") {
                progressBar(data);
                console.log('Updating progress bar...');
            }

            if (data.completed == true) {
                closeEventStream();
                console.log('Scan completed.');
            }
        });

        eventSource.onmessage = (event) => {
            const data = JSON.parse(event.data);
            console.log('Received message:', data);
        };

        eventSource.onerror = (error) => {
            console.error('SSE error:', error);
        };

        // Either this or the one above
        eventSource.addEventListener('error', (error) => {
            console.error('SSE error:', error);
        });

        eventSource.onopen = () => {
            console.log('SSE connection opened');
        };

        eventSource.onclose = () => {
            console.log('SSE connection closed');
        };

        function closeEventStream() {
            console.log('Closing event stream...');
            submitButton.disabled = false;
            eventSource.close();
        }

        function progressBar(data) {
            // Get the progress bar element
            const progressBar = document.getElementById('progress-bar');
            progressBar.style.width = `${data.progressPercentage}%`;

            console.log('Updating progress bar:', data.progressPercentage);
        }
    }
</script>

<p></p>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>